body {
    padding-top: 40px;
}

code {
    color: #fefefe;
    background-color: #8db6cd;
    border-radius: 2px;
}

.oversize {
    max-height: 100%;
    max-width: 100%;
}

.jumbotron {
    color: white;
    background-color: #b0c4de;
    background-image: linear-gradient(#8db6cd, #b0c4de);
}
.jumbotron small {
    color: #fefefe;
    font-size: 45%;
}
.jumbotron h1 {
    text-shadow: 2px 2px 0px #4a88ab;
}
.jumbotron table {
    font-size: 100%;
}
.jumbotron table a {
    color: #fefefe;
}
.jumbotron table td:nth-child(1) {
    color: #4a88ab;
}

/* Comments */
.github-comments .comment-content img {
    width: 100%;
    height: 100%;
}
#gh-comments-list li {
	margin: 0;
	padding: 1.5em 0;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #aaa;
}
#gh-comments-list li > a.user {
	width: 5em;
	height: 5em;
	overflow: hidden;
	padding: 3px;
}
#gh-comments-list li > a.user img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
}
#gh-comments-list li .comment-content {
	padding: 0 1.5em;
    max-width: 90%;
}
#gh-comments-list li > a.comment-url {
	width: 100%;
	text-align: right;
	opacity: .8;
}
#gh-comments-list li > a.comment-url:hover {
	opacity: 1;
}
#no-comments-found {
	display: none;
}

/* Recent news */
.recent-news td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Content of introduction is html of README which fetched from github, hide
 * the main title and remove some duplicated.
 */
#introduction article > h1, article > h1 + p, article > h1 + p + p {
    display: none;
}
