---
layout: default
---

<header>
    <div class="container">
        <div class="page-header">
            <h1>{{ page.title }} <small>{{ page.date | date_to_string }}</small></h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags.html#{{ tag }}"><span class="label label-info">#{{ tag }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container post-content">
        {{ content }}
    </div>
</main>

{% include comments %}

<nav aria-label="...">
    <div class="container">
        <ul class="pager">
            {% if page.previous %}
            <li class="previous"><a href="{{ site.baseurl }}{{ page.previous.url }}"><span aria-hidden="true">&larr;</span>{{ page.previous.title }}</a></li>
            {% else %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Nothing</a></li>
            {% endif %}

            {% if page.next %}
            <li class="next"><a href="{{ site.baseurl }}{{ page.previous.url }}"><span aria-hidden="true">&rarr;</span>{{ page.previous.title }}</a></li>
            {% else %}
            <li class="next disabled"><a href="#"><span aria-hidden="true">&rarr;</span> Nothing</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
